.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    gap:15px;
    justify-content: center;
    align-items: center;
}

.container{
    min-height: 200px;
    min-width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(194, 194, 255);
    color: rgb(0, 0, 59);
    text-align: center;
}

.container-1{
    transition: background 1s, font 0.3s ease;
}

.container-1:hover{
    background: rgb(226, 194, 255);
    font-size: 2em;
}

.container-2{
    transition: color 1s ease, border 0.3s ease;
}

.container-2:hover{
    color: white;
    border: 3px solid #e5e5e5;
}

.container-3{
    transition: opacity 1s ease, transform 0.3s ease;
}

.container-3:hover{
    opacity: 50%;
    transform: translate(0%, -5%);
}