@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

/*
    Titles = 1.5em
    Subtitles = 1.2em
    Text  = 0.9em
*/
:root {
    --main-color: rgba(14, 26, 37, 1);
    --secondary-color: rgba(230, 230, 230, 1);
    --terciary-color: rgb(158, 208, 254);
    --fourth-color: rgb(26, 48, 69);
    --rem-very-low: 0.25rem;
    --rem-low: 0.75rem;
    --rem-default: 1rem;
    --rem-medium: 2rem;
    --rem-high: 5rem;
    --rem-ultra: 10rem;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--secondary-color);
    background: var(--main-color);
    overflow-x: hidden;
}

.wrapper {
    min-height: 100svh;
    max-width: 100vw;
}

.scrolled {
    background: var(--main-color);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    padding: var(--rem-default) var(--rem-medium);
    letter-spacing: 0.25em;
    font-size: 1.1em;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    z-index: 999;
}

header nav {
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0rem var(--rem-medium);
}

header nav div {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: var(--rem-high);
}

header nav div a {
    color: inherit;
    display: flex;
    text-decoration: none;
    position: relative;
    height: 60%;
    text-align: center;
    align-items: center;
}

header nav div span a:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    display: block;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0%;
}

header nav div span a:hover:after {
    width: 100%;
    left: 0;
}

header nav div a img {
    filter: invert(1);
    height: 100%;
    width: auto;
}

.banner {
    position: absolute;
    width: 100vw;
    height: 100svh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: brightness(60%);
    min-height:100svh;
}

.banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: brightness(60%);
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2em;
}

.banner-content p {
    margin-bottom: var(--rem-default);
}

header nav button {
    background-color: transparent;

}

.login {
    border: 1px solid white;
    padding: var(--rem-low) var(--rem-medium);
    color: inherit;
    text-decoration: inherit;
    transition: 0.5s ease;
}

.login:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.button-a {
    border: 1px solid white;
    padding: var(--rem-low) var(--rem-medium);
    color: inherit;
    text-decoration: inherit;
    transition: 0.5s ease;
}

.button-a:hover {
    background: rgba(255, 255, 255, 0.2);
    padding: var(--rem-low) var(--rem-high);
}

body.modal-open {
    overflow-y: hidden;
}

#modal {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100svh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
}

#modal .modal-content {
    position: relative;
    display: flex;
    background: transparent;
    width: 400px;
    height: 300px;
    padding: var(--rem-medium);
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    color: var(--terciary-color);
}

#modal .modal-content .x {
    position: absolute;
    display: flex;
    top: 1%;
    right: 1%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: inherit;
    color: inherit;
    font-size: 2em;
}

#modal .modal-content form .input {
    position: relative;
    width: 300px;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

#modal .modal-content form .input label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s ease;
}

#modal .modal-content form .input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
}

#modal .modal-content form .modal-button {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: inherit;
}

#modal .modal-content form .modal-button button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: inherit;
    background: transparent;
    outline: none;
    padding: var(--rem-low) var(--rem-medium);
    transition: 1s ease;
}

#modal .modal-content form .modal-button button:hover {
    background: rgba(255, 255, 255, 0.2);

}

#modal .modal-content form .input input:focus~label,
#modal .modal-content form .input input:valid~label {
    top: -5px;
}

.separator-banner {
    position: relative;
    min-height: calc(100svh - 100px);
    z-index: -99;
}

.trending-destination {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: top;
    padding: var(--rem-high);
    flex: column;
}

.trending-destination .text {
    display: flex;
    text-align: end;
    padding: var(--rem-medium);
    height: 100%;
    width: 50%;
    flex-direction: column;
    gap: var(--rem-medium);
}

.trending-destination .img {
    display: flex;
    padding: var(--rem-medium);
    overflow: hidden;
    height: 800px;
    width: 50%;
    justify-content: center;
}

.trending-destination .img img {
    box-shadow: var(--rem-default) var(--rem-default) var(--rem-default) rgb(8, 14, 20);
}

.other-destination {
    padding: var(--rem-medium);
    height: 100%;
}

.other-destination .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.other-destination .cards .card {
    position: relative;
    display: flex;
    height: 500px;
    width: 300px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    transition: 0.6s ease-out;
    overflow: hidden;
    justify-content: center;
    margin-bottom: var(--rem-default);
}

.other-destination .cards .card .text {
    position: absolute;
    top: 0;
    padding: var(--rem-default);
}

.other-destination .cards .card:hover {
    height: 550px;
    width: 350px;
}

section {
    min-height: 100%;
}

article {
    min-height: max-content;
}

h1 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.3rem;
}

h3 {
    margin-bottom: var(--rem-default);
    margin-top: var(--rem-medium);
    color: var(--terciary-color);
}

p {
    font-size: 0.9em;
}

.underline {
    padding-bottom: var(--rem-high);
}

.underline::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    left: 10%;
    top: 40px;
    background: rgba(255, 255, 255, 0.5);
}

a {
    color: inherit;
    text-decoration: inherit;
}

.parallax {
    position: absolute;
    top: 0;
    height: 90svh;
    width: 100vw;
    z-index: -99;
    background: url('img/Capa\ 2.png') fixed 100%;
    background-position: top;
}

.parallax img {
    position: absolute;
    width: 100svw;
    left: 0;
}

.img1 {
    bottom: 0;
}

.img2 {
    top: 0;
    position: fixed;
}

.text-about {
    padding: var(--rem-high);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--rem-high);
}

.double-card {
    display: flex;
    gap: var(--rem-high);
}

.double-card div {
    border: 2px solid var(--fourth-color);
    padding: var(--rem-medium);
    width: 50%;
    box-shadow: var(--rem-very-low) var(--rem-very-low) 0 var(--fourth-color);
}

ul {
    margin-left: var(--rem-high);
    display: flex;
    flex-direction: column;
    gap: var(--rem-default);
}

.destinations-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.destinations-price table {
    border-collapse: collapse;
}

.destinations-price table * {
    border: 4px solid var(--fourth-color);
}

.destinations-price table tr td,
.destinations-price table tr th {
    padding: var(--rem-default);
}

@media screen and (min-width: 2560px) {
    header{
        padding: var(--rem-default) var(--rem-medium);
        font-size: 2em;
        height: 200px;
    }
    .login{
        font-size: 0.9em;
        padding: var(--rem-default) var(--rem-high);
    }
    .banner-content{
        font-size: 2em;
        width: 1000px;
    }
    .button-a {
        padding: var(--rem-default) var(--rem-high);
    }
}

@media screen and (min-width: 1920px) {
    .banner video{
        height: 150vh;
    }
}

@media screen and (max-width: 768px) {
    header{
        padding: var(--rem-low) var(--rem-low);
        font-size: 0.9em;
        height: 150px;
    }
    header nav{
        padding: 0rem var(--rem-default);
        flex-direction: row;
        justify-content: space-around;
    }
    header nav div{
        gap:var(--rem-very-low);
        flex-direction: row;
    }
    header nav div div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header nav div a{
        width: 125px;
        height: 20px;
    }
    header nav div a img{
        width: 100%;
        height: auto;
    }
    header nav div span a{
        width: 100%;
        text-align: center;
    }
    .banner-content{
        width: 200px;
    }
}
