body,html{
    margin:0;
    padding: 0;
}
p{
    margin: 0;
}
.wrapper{
    max-height: 100vh;
    max-width: 100vw;
}
.wrapper div{
    background: #ff9b9b;
    margin: 1%;
}
.segunda_caja{
    position: absolute;
    background: yellow !important; 
    top:30px;
    left:40px;
}