*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
}

form{
    width: 50%;
    height: auto;
    padding: 2rem;
    border: 1px solid black;
}

form fieldset{
    display: flex;
    border: 0;
    padding:15px;
}

span.astrisk{
    color:red;
}

form fieldset .fieldset-inputs{
    width:50%;
}

form fieldset .fieldset-inputs label{
    margin-bottom:1rem;
    display:block;
}

form fieldset .fieldset-inputs input{
    display:block;
}

form fieldset .fieldset-name{
    width:50%;
    display: block;
}

.important{
    background: yellow;
}